.flex {
  display: flex;
}

@media (min-width: 576px) {
  .sm\:flex {
    display: flex;
  }
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
}

@media (min-width: 992px) {
  .lg\:flex {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .xl\:flex {
    display: flex;
  }
}

.inline-flex {
  display: inline-flex;
}

@media (min-width: 576px) {
  .sm\:inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .md\:inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 992px) {
  .lg\:inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 1200px) {
  .xl\:inline-flex {
    display: inline-flex;
  }
}

.block {
  display: block;
}

@media (min-width: 576px) {
  .sm\:block {
    display: block;
  }
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
}

@media (min-width: 992px) {
  .lg\:block {
    display: block;
  }
}

@media (min-width: 1200px) {
  .xl\:block {
    display: block;
  }
}

.inline-block {
  display: inline-block;
}

@media (min-width: 576px) {
  .sm\:inline-block {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .md\:inline-block {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .lg\:inline-block {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .xl\:inline-block {
    display: inline-block;
  }
}

.inline {
  display: inline;
}

@media (min-width: 576px) {
  .sm\:inline {
    display: inline;
  }
}

@media (min-width: 768px) {
  .md\:inline {
    display: inline;
  }
}

@media (min-width: 992px) {
  .lg\:inline {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .xl\:inline {
    display: inline;
  }
}

.none {
  display: none;
}

@media (min-width: 576px) {
  .sm\:none {
    display: none;
  }
}

@media (min-width: 768px) {
  .md\:none {
    display: none;
  }
}

@media (min-width: 992px) {
  .lg\:none {
    display: none;
  }
}

@media (min-width: 1200px) {
  .xl\:none {
    display: none;
  }
}

.flex\:row {
  display: flex;
  flex-direction: row;
}

@media (min-width: 576px) {
  .sm\:flex\:row {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .md\:flex\:row {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .lg\:flex\:row {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .xl\:flex\:row {
    display: flex;
    flex-direction: row;
  }
}

.flex\:row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media (min-width: 576px) {
  .sm\:flex\:row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .md\:flex\:row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) {
  .lg\:flex\:row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .xl\:flex\:row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

.flex\:column {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .sm\:flex\:column {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .md\:flex\:column {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .lg\:flex\:column {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .xl\:flex\:column {
    display: flex;
    flex-direction: column;
  }
}

.flex\:column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 576px) {
  .sm\:flex\:column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .md\:flex\:column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  .lg\:flex\:column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .xl\:flex\:column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.flex-wrap\:wrap {
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .sm\:flex-wrap\:wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .md\:flex-wrap\:wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .lg\:flex-wrap\:wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .xl\:flex-wrap\:wrap {
    flex-wrap: wrap;
  }
}

.flex-wrap\:nowrap {
  flex-wrap: nowrap;
}

@media (min-width: 576px) {
  .sm\:flex-wrap\:nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .md\:flex-wrap\:nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) {
  .lg\:flex-wrap\:nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .xl\:flex-wrap\:nowrap {
    flex-wrap: nowrap;
  }
}

.flex-wrap\:wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media (min-width: 576px) {
  .sm\:flex-wrap\:wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 768px) {
  .md\:flex-wrap\:wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 992px) {
  .lg\:flex-wrap\:wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 1200px) {
  .xl\:flex-wrap\:wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

.content-flex-start {
  justify-content: flex-start;
}

@media (min-width: 576px) {
  .sm\:content-flex-start {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .md\:content-flex-start {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .lg\:content-flex-start {
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .xl\:content-flex-start {
    justify-content: flex-start;
  }
}

.content-flex-end {
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .sm\:content-flex-end {
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .md\:content-flex-end {
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .lg\:content-flex-end {
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .xl\:content-flex-end {
    justify-content: flex-end;
  }
}

.content-center {
  justify-content: center;
}

@media (min-width: 576px) {
  .sm\:content-center {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .md\:content-center {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .lg\:content-center {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .xl\:content-center {
    justify-content: center;
  }
}

.content-space-between {
  justify-content: space-between;
}

@media (min-width: 576px) {
  .sm\:content-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .md\:content-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .lg\:content-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .xl\:content-space-between {
    justify-content: space-between;
  }
}

.content-space-around {
  justify-content: space-around;
}

@media (min-width: 576px) {
  .sm\:content-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .md\:content-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .lg\:content-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .xl\:content-space-around {
    justify-content: space-around;
  }
}

.content-space-evenly {
  justify-content: space-evenly;
}

@media (min-width: 576px) {
  .sm\:content-space-evenly {
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .md\:content-space-evenly {
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .lg\:content-space-evenly {
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .xl\:content-space-evenly {
    justify-content: space-evenly;
  }
}

.items-stretch {
  align-items: stretch;
}

@media (min-width: 576px) {
  .sm\:items-stretch {
    align-items: stretch;
  }
}

@media (min-width: 768px) {
  .md\:items-stretch {
    align-items: stretch;
  }
}

@media (min-width: 992px) {
  .lg\:items-stretch {
    align-items: stretch;
  }
}

@media (min-width: 1200px) {
  .xl\:items-stretch {
    align-items: stretch;
  }
}

.items-flex-start {
  align-items: flex-start;
}

@media (min-width: 576px) {
  .sm\:items-flex-start {
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .md\:items-flex-start {
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .lg\:items-flex-start {
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .xl\:items-flex-start {
    align-items: flex-start;
  }
}

.items-flex-end {
  align-items: flex-end;
}

@media (min-width: 576px) {
  .sm\:items-flex-end {
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .md\:items-flex-end {
    align-items: flex-end;
  }
}

@media (min-width: 992px) {
  .lg\:items-flex-end {
    align-items: flex-end;
  }
}

@media (min-width: 1200px) {
  .xl\:items-flex-end {
    align-items: flex-end;
  }
}

.items-center {
  align-items: center;
}

@media (min-width: 576px) {
  .sm\:items-center {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .md\:items-center {
    align-items: center;
  }
}

@media (min-width: 992px) {
  .lg\:items-center {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .xl\:items-center {
    align-items: center;
  }
}

.items-baseline {
  align-items: baseline;
}

@media (min-width: 576px) {
  .sm\:items-baseline {
    align-items: baseline;
  }
}

@media (min-width: 768px) {
  .md\:items-baseline {
    align-items: baseline;
  }
}

@media (min-width: 992px) {
  .lg\:items-baseline {
    align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .xl\:items-baseline {
    align-items: baseline;
  }
}

.self-auto {
  align-self: auto;
}

@media (min-width: 576px) {
  .sm\:self-auto {
    align-self: auto;
  }
}

@media (min-width: 768px) {
  .md\:self-auto {
    align-self: auto;
  }
}

@media (min-width: 992px) {
  .lg\:self-auto {
    align-self: auto;
  }
}

@media (min-width: 1200px) {
  .xl\:self-auto {
    align-self: auto;
  }
}

.self-stretch {
  align-self: stretch;
}

@media (min-width: 576px) {
  .sm\:self-stretch {
    align-self: stretch;
  }
}

@media (min-width: 768px) {
  .md\:self-stretch {
    align-self: stretch;
  }
}

@media (min-width: 992px) {
  .lg\:self-stretch {
    align-self: stretch;
  }
}

@media (min-width: 1200px) {
  .xl\:self-stretch {
    align-self: stretch;
  }
}

.self-flex-start {
  align-self: flex-start;
}

@media (min-width: 576px) {
  .sm\:self-flex-start {
    align-self: flex-start;
  }
}

@media (min-width: 768px) {
  .md\:self-flex-start {
    align-self: flex-start;
  }
}

@media (min-width: 992px) {
  .lg\:self-flex-start {
    align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  .xl\:self-flex-start {
    align-self: flex-start;
  }
}

.self-flex-end {
  align-self: flex-end;
}

@media (min-width: 576px) {
  .sm\:self-flex-end {
    align-self: flex-end;
  }
}

@media (min-width: 768px) {
  .md\:self-flex-end {
    align-self: flex-end;
  }
}

@media (min-width: 992px) {
  .lg\:self-flex-end {
    align-self: flex-end;
  }
}

@media (min-width: 1200px) {
  .xl\:self-flex-end {
    align-self: flex-end;
  }
}

.self-center {
  align-self: center;
}

@media (min-width: 576px) {
  .sm\:self-center {
    align-self: center;
  }
}

@media (min-width: 768px) {
  .md\:self-center {
    align-self: center;
  }
}

@media (min-width: 992px) {
  .lg\:self-center {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .xl\:self-center {
    align-self: center;
  }
}

.self-baseline {
  align-self: baseline;
}

@media (min-width: 576px) {
  .sm\:self-baseline {
    align-self: baseline;
  }
}

@media (min-width: 768px) {
  .md\:self-baseline {
    align-self: baseline;
  }
}

@media (min-width: 992px) {
  .lg\:self-baseline {
    align-self: baseline;
  }
}

@media (min-width: 1200px) {
  .xl\:self-baseline {
    align-self: baseline;
  }
}