$fontBase: (
  family: 'Flama',
  weights: (
    light: 300,
    regular: 400,
    bold: 700,
    black: 900
  ),
  styles: (
    normal: normal,
    italic: italic
  ),
  path: '/assets/fonts/'
);

// File name pattern: "[family]-[weight].[style].otf
// if Normal Style, don't include style in file name: "[family]-[weight].otf
// else if Italic Style, include style in file name: "[family]-[weight]-[style].otf

@each $weight, $weightValue in map-get($fontBase, weights) {
    @each $style, $styleValue in map-get($fontBase, styles) {
        @if $style == 'normal' {
            @font-face {
                font-family: map-get($fontBase, family);
                font-weight: $weightValue;
                src: url(map-get($fontBase, path) + to-lower-case(map-get($fontBase, family)) + '-' + $weight + '.otf') format('opentype');
            }
        } @else {
            @font-face {
                font-family: map-get($fontBase, family);
                font-weight: $weightValue;
                font-style: $styleValue;
                src: url(map-get($fontBase, path) + to-lower-case(map-get($fontBase, family)) + '-' + $weight + '-' + $style + '.otf') format('opentype');
            }
        }
    }
}

// Whole website uses Flama font
body {
  font-family: "Flama", sans-serif;
}