@import "colors";
$gray-200: map-get($colors, "gray-200");


table {
  @extend .border-gray-200;
  border-collapse: collapse;

  td, th {
    @extend .border-gray-200, .p-4;
  }

  tr {
    &:not(:last-child) {
      td {
        border-bottom: 1px solid #{$gray-200};
      }
    }

    td:not(:last-child) {
      border-right: 1px solid #{$gray-200};
    }
  }
}